- var events = getCollection('events').toJSON()
- var count = 0
- for event in events
  - if (event.date >= document.date && count <= 1)
    .event(class=(count===0 ? 'sub-primary' : 'sub-secondary'))
      if count===0
        .event-ribbon
          .ribbon
            .ribbon-text This Month
      .event-content
        if event.photo && count===0
          .event-content-photo
            .photo.sub-circle(style="background-image: url(images/events/#{event.photo})")
              img(src= "images/events/" + event.photo)
        .event-content-info
          h3.event-title= event.title
          if event.description
            p.event-description= event.description
          hr.sub-small
          if event.date
            p.event-date
              = event.humanDate
              br
              = event.humanTime + " – 10:00 am"
              if event.location.name
                if event.location.link
                  br
                  a(href="http://#{event.location.link}")= event.location.name
                else
                  br
                  = event.location.name
                
          if event.register_link
            br
            a.button(href="http://#{event.register_link}") Register
    - count++