- var organizers = getCollection('organizers').toJSON()

- for organizer in organizers
  
  - var image = "images/organizers/" + organizer.image
  - var name = organizer.name
  - var bio = organizer.contentRendered

  .organizer
    .organizer-avatar
      .photo.sub-circle(style="background-image: url(#{image})")
        img(src= image, alt= name)
    .organizer-info
      h3= name
      if bio != "MultiMarkdown was unable to parse this file."
        != bio
      .organizer-info-services
        - for (service in organizer.services)
          - var account = organizer.services[service]
          if account
            if service == "mail"
              a.icon(href= "mailto:#{account}")
                span.icon-glyph(class="sub-#{service}")
            else
              a.icon(href= "http://" + account)
                span.icon-glyph(class="sub-#{service}")
            