---
title: Coffee & Design
layout: default
isPage: true
---
.waypoint#home
section.layout-content-wrapper.sub-background#signup
  .layout-content
    img.logo-large(src="images/icon-coffeedesign.svg")
    h1.sub-title Connect. Inspire. Learn. Grow.
    p.sub_heading Coffee & Design is a free, monthly event to connect design professionals in Kansas City.
.waypoint#events
section.layout-content-wrapper
  .layout-content.sub-wide
    h2 Upcoming Events
    hr
    p.sub_heading The last Friday morning of every month features a 
    .layout-events
      - var events = getCollection('events').toJSON()
      - var count = 0
      - for event in events
        - if (event.date >= document.date && count <= 1)
          .event(class=(count===0 ? 'sub-primary' : 'sub-secondary'))
            .event-content
              if event.photo && count===0
                .event-content-photo
                  .photo.sub-circle(style="background-image: url(images/events/#{event.photo})")
                    img(src= event.photo)
              .event-content-info
                h3.event-title= event.title
                if event.description
                  p.event-description= event.description
                hr.sub-small
                if event.date
                  p.event-date
                    = event.humanDate
                    br
                    = event.humanTime + " – 10:00 am"
                    if event.location
                      if event.location_link
                        br
                        a(href="htt://#{event.location_link}")= event.location
                      else
                        br
                        = event.location
                      
                if event.register_link
                  br
                  a.button(href="htt://#{event.register_link}") Register
          - count++
.waypoint#about        
section.layout-content-wrapper.sub-background
  .layout-content
    h2 About
    hr
    p.sub_heading Coffee & Design was born out of a desire to be able to connect with more designers in Kansas City.
    p Weather you're focused on branding, products, experiences, interfaces, identity, print, media, illustration, lettering, or anything in between; Coffee & Design is aimed to connect you with like-minded designers to expand your network, be inspired by, and learn from one other.
.waypoint#sponsors
section.layout-content-wrapper
  .layout-content
    h2 Sponsors
    hr
    p.sub_heading Coffee & Design wouldn't be able to happen without the support of these fine folks.
.waypoint#organizers
section.layout-content-wrapper.sub-background
  .layout-content
    h2 Organizers
    hr
    p.sub_heading The mugs behind the mug.
    .organizer
      .organizer-avatar
        img.avatar(src="images/kelly_tomlinson.jpg")
      .organizer-info
        h3 Kelly Tomlinson
        p Kelly Tomlinson is a designer focused on UI & UX, branding, and solving problems; with an undying appreciation for print and package design. She is currently slinging pixels at Cremalab, the Kansas City Chapter Director of Startup Grind, and a KC Startup Weekend organizer. Kelly eats too much Chipotle, watches too many movies, says thank you a lot, and believes in small wins. You can learn more about her at <a href="http://kellytdesign.com">kellytdesign.com</a>
        p
          a.icon(href="http://twitter.com/kellytdesign")
            span.icon-glyph.sub-twitter
            span.icon-text @kellytdesign
    .organizer
      .organizer-avatar
        img.avatar(src="images/rob_lafeve.jpg")
      .organizer-info
        h3 Rob LaFeve
        p Rob LaFeve is a web designer and developer in Kansas City.
        p
          a.icon(href="http://twitter.com/roblafeve")
            span.icon-glyph.sub-twitter
            span.icon-text @roblafeve
.waypoint#contact
section.layout-content-wrapper
  .layout-content.sub-wide
    h2 Contact Us
    hr
    p.sub_heading Direct any questions, suggestions, or feedback our way!
    .links
      .link
        a.icon(href="mailto:hello@coffeedesign.org")
          span.icon-glyph.sub-mail
          span.icon-text hello@coffeedesign.org
      .link
        a.icon(href="http://twitter.com/kccoffeedesign")
          span.icon-glyph.sub-twitter
          span.icon-text @kcCoffeeDesign
      .link
        a.icon(href="https://www.facebook.com/pages/Coffee-Design/632654520119549")
          span.icon-glyph.sub-facebook
          span.icon-text Coffee-Design
    p Don't forget to sign up for the newsletter to be the first to know about our events!
    form#mc-embedded-subscribe-form.validate(action='http://coffeedesign.us3.list-manage1.com/subscribe/post?u=73a0928dffdd7ea5920f5069c&id=1a612aa5f1', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
      .form-fields
        .form-fields-field.sub-primary
          input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="Your email address...")
        #mce-responses.clear(style='display: none;')
          #mce-error-response.response(style='display: none;')
          #mce-success-response.response(style='display: none;')
        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
        div(style='position: absolute; left: -5000px; display: none')
          input(type='text', name='b_73a0928dffdd7ea5920f5069c_1a612aa5f1', value='')
        .form-fields-field
          input#mc-embedded-subscribe.button(type='submit', value='Stay in touch', name='subscribe')